/* Container principal en grid */

.container-grid {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr 45px;

  height: 100vh;
  overflow: hidden;
}

@media (max-width: 640px) {
  .container-grid {
    grid-template-columns: 80px 1fr;
  }
}

header {
  grid-area: header;
  padding: 1rem;
}

.sidebar {
  grid-area: sidebar;

  /* height: calc(90vh); Ajuste la hauteur pour éviter le scroll */
  z-index: 15;
  top: 0;
}

.main {
  grid-area: main;
  padding: 1rem;
  overflow-y: auto; /* Seule la zone main est scrollable */

  z-index: 10;
}

.footer-grid {
  grid-area: footer;

  height: 45px !important;
  padding: 1rem;
}
